<div class="chart rounded-4">
    <div class="d-flex justify-content-between pe-3">
        <div class="mt-2">
          <i class="fa-solid fa-sliders rounded-3 me-2 ms-2"></i>
          <i class="fa-solid fa-calendar-days rounded-3"></i>
        </div>
        <div class="mt-3">
          <i class="fa-solid fa-circle blue"></i>Income
          <i class="fa-solid fa-circle orange"></i>Withdrawals
        </div>
      </div>
    <div class="chart__layout pb-3 ms-2 me-2">
        <canvas id="linechart"></canvas>
    </div>
</div>