.pink {
    color: #FF61A0;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #F5F7F9;
    border-radius: 1rem;
}

.green {
    color: #20bd12;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #F5F7F9;
    border-radius: 1rem;
}